*{
    font-family: "Manrope";
    
}

.topbar{
    display: flex;
}

.Left{
    flex: 2;
    display: flex;
    position: absolute;
    padding-left: 30px;
    margin-top: 15px;
}
.Left img{
    width: 64px;
    padding: 5px;
    margin-right: 6px;
}

.Center{
    flex: 8;
    text-align: center;
}
.Center ul{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;

}
.Center li{
    list-style: none;
    padding: 15px;
    cursor: pointer;
    font-family: 'Manrope';
}


.Right{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Right button{
    width: 190px;
    height: 35px;
    background: #0370DD;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.content{
    width: 1400px;
    height: 690px;
  border: 2.5px solid rgba(3, 112, 221, 1);
  margin-left: 50px;
  border-radius: 24px;
  display: flex;
}
.content .left{
    flex: 4;
    margin: 5px;
    
}
.content .right{
    flex: 8;
}
h1{
    margin:20px;
    width: 273px;
height: 50px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 66px;
}
i{
    color: red;
}

.Form{
    padding: 4px 25px;
    
    margin-top: 25px;
    
}
input{
 height: 30px;
 width: 250px;
 margin: 5px;
 border-radius: 5px;
 margin: 4px 0px;
}

textarea{
    margin: 4px 0px;
}

.last{
    width: 190px;
    height: 35px;
    background: #0370DD;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.right img{
    width: 500px;
    margin-left: 200px;
    /* border: 1px solid blue; */
    margin-top: 3px;
}

.cen{
        border-left: 1px solid blue;
        height: 692px;
      
}

.bus{
    color: blue;
    margin-left: 16px;
    cursor: pointer;
}

@media only screen and (max-width:1478px){
      
        .content{
             width: 1300px;
       }
}
@media only screen and (max-width:1390px){
      
    .content{
         width: 1100px;
   }
}
@media only screen and (max-width:900px){
    html{
        font-weight: 30px;
   }
   .cen{
    border-left: 1px solid blue;
    height: 900px;
  
}
   .topbar{
       display: flex;
       flex-direction: column;
       
   }
   .Left{
       display: flex;
       position: absolute;
       padding-left: 350px;
       margin-top: 35px;
      
   }
   .Left img{
       width: 64px;
       padding: 5px;
       margin-right: 6px;
   }
   .content{
       width: 750px;
       height: 900px; 
   border: 2.5px solid rgba(3, 112, 221, 1);
     margin-left: 40px;
     border-radius: 24px;
     display: flex;
     margin-top: 50px;
     flex-direction: row;
   }
   .Center{

       text-align: center;
   }
   .Center ul{
       display: flex;
       justify-content: center;
       text-align: center;
       margin-top: 150px;
       
   
   }
   .right img{
       width: 330px;
       margin-left: 65px;
       /* border: 1px solid blue; */
       margin-top: 70px;
   }
    
}

.content .number{
    margin-left: 210px;
}

/* @media(max-width:768px){

   

}*/

/* @media(max-width:460px){

  .content{
    width: 480px;
  }


} */
@media only screen and (max-width:460px){
    html{
         font-weight: 30px;
    }
    .topbar{
        display: flex;
        flex-direction: column;
        
    }
    .Left{
        display: flex;
        position: absolute;
        padding-left: 130px;
        margin-top: 15px;
       
    }
    .Left img{
        width: 64px;
        padding: 5px;
        margin-right: 6px;
    }
    .content{
        width: 300px;
        height: 1000px; 
    border: 2.5px solid rgba(3, 112, 221, 1);
      margin-left: 40px;
      border-radius: 24px;
      display: flex;
      margin-top: 50px;
      flex-direction: column;
    }
    .Center{

        text-align: center;
    }
    .Center ul{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 150px;
        
    
    }
    .right img{
        width: 230px;
        margin-left: 25px;
        /*border: 1px solid blue; */
        margin-bottom: 50px;
    }
}
     

